.card-section {
    max-width: 1440px;
    margin: 0 auto;
    .card-section-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 15px;
        gap: 15px;
        @media (max-width: 991px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr;
        }

        .card {
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            @media (max-width: 768px) {
                padding: 0px 100px;
            }
            @media (max-width: 576px) {
                padding: 0px 50px;
            }
            img {
                max-width: 100px;
                padding-right: 21px;
                
            }
            h1 {
                color: #3d4459;
                font-family: "Varela Round", Sans-serif;
                font-size: 20px;
                font-weight: 400;
                text-transform: capitalize;
            }
            p{
                color: #3d4459;
                font-family: "Varela Round", Sans-serif;
            }
          
        }
    }
}
