.Description-section{
    max-width: 1440px;
    margin: 0 auto;
    .description-section-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
        gap: 20px;
        padding:0px 15px;
        h1{
            color: #4632da;
            font-family: "Montserrat", Sans-serif;
            font-size: 20px;
            font-weight: 400;
            text-transform: none;
            -webkit-text-stroke-color: #000;
            stroke: #000;
        }
        h2{
            color: #3d4459;
            font-family: "Varela Round", Sans-serif;
            font-size: 45px;
            font-weight: 300;
            text-transform: none;
            line-height: 1.2em;
            @media (max-width:991px) {
                font-size: 40px;
            }
        
        }
        p{
            border: 0;
            font-size: 100%;
            font-style: inherit;
            font-weight: inherit;
            color: #3d4459;
        }
    }
}