header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    padding: 0pa 10px;
    .logo {
        img {
            width: 150px;
        }
    }
    .navigation-bar {
        display: flex;
        gap: 20px;

        .icons-bar {
            display: flex;
            align-items: center;
            gap: 8px;
            @media (max-width: 991px) {
                display: none !important;
            }
            img {
                max-width: 20px;
                border-radius: 30px;
            }
        }
        .menu-toggle-button {
            color: #4632de;
            font-size: 26px;
            display: none !important;
            @media (max-width: 991px) {
                display: block !important;
            }
        }
        align-items: center;
        nav {
            display: block;
            @media (max-width: 991px) {
                position: fixed;
                width: 100%;
                top: 50px;
                background-color: aliceblue;
                right: 0;
                display: none;
                padding: 20px 40px;
                box-sizing: border-box;
                a {
                    color: #4632de;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            display: flex;
            gap: 20px;
            color: aliceblue;
            font-family: "Courier New", Courier, monospace;
            border-radius: 4px;
            transition: linear;

            a {
                text-decoration: none;
                padding: 12px 20px;
                color: #4632de;
                border-radius: 4px;
                transition: 0.5s linear;
            }
            :hover {
                transform: scale(1.2);
            }
        }
    }
}
